.todoItem {
  border-radius: 1rem;
  background-color: rgba(248, 248, 248, 0.4);
  padding: 10px 20px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoItem > h4 {
  font-weight: lighter;
  color: rgb(0, 192, 199);
  text-transform: capitalize;
}

.edit__icon {
  color: #8675a9 !important;
  padding-right: 5px;
  cursor: pointer;
}

.delete__icon {
  color: rgb(192, 192, 192) !important;
  cursor: pointer;
}
